<p id="notice"><%= notice %></p>

<p>
  <b>User Email:</b>
  <%= @request.user.email %>
</p>

<p>
  <b>Address1:</b>
  <%= @request.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @request.address2 %>
</p>

<p>
  <b>Phone:</b>
  <%= @request.phone %>
</p>

<p>
  <b>First name:</b>
  <%= @request.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @request.last_name %>
</p>

<p>
  <b>City:</b>
  <%= @request.city %>
</p>

<p>
  <b>State:</b>
  <%= @request.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @request.zip %>
</p>

<p>
  <b>User:</b>
  <%= @request.user %>
</p>

<p>
  <b>Country:</b>
  <%= @request.country %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @request.middle_initial %>
</p>